extends layout

block content
  div(class='container' id='container')
    div(class='header')
      div(class='title') 2048
    div(class='above-game')
      a(class='restart-button' id='restart-button') 新游戏
    canvas(class='canvas' id='canvas')
